/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#form__option_saved {
    display: none;
    border-left: 4px solid #0085ba;
    margin-top: 1em;
    h2 {
      background-color: white;
      margin: 0;
      padding: 1em;
      display: inline-block;
    }
}
#form-button__clone {
  margin-top: 1em;
}

.form__line_clone {
    .error {
      border: 1px solid red;
    }
    input {
      width: 100%;
      max-width: 100%;
      padding: 1em;
      margin: 0;
    }
    textarea {
      width: 100%;
      max-width: 100%;
      padding: 0.4em 0.4em 0.21em;
    }
    td {
      padding-left: 0;
      vertical-align: -webkit-baseline-middle;
      width: 100%;
      &:nth-child(1) {
        width: 20%;
      }
    }
    .error-wrap {
      display: none;
      font-size: 1em;
      color: red;
      font-weight: 500;
      padding-top: 0.5em;
    }
}

.button_delete {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: block;
  margin-top: 0.3rem;
}
.button_delete {
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.bg {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 1);
  transition: all 0.2s linear;
}
.symbol{
    &:before, &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    margin: auto;
    border-radius: 2px;
    content: "";
  }
}
.symbol::before{
  width: 1.5rem;
  height: 0.3rem;
  background-color: #515676;
  transition: background-color 1s linear;
}
.button_delete:hover .bg {
  background-color: rgba(255, 255, 255, 0.3)
}
.bg:target {
  animation: push 1s ease-out;
  transition: all 1s linear;
}
#minus:target {
  background-color: #515676;
}
#minus:target + .symbol::before {
  background-color: #def186;
}

.hide {
  display: none;
}
.form__shortcode {
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  align-items: baseline;
  .form_st {
    padding: 0.5em;
    background: #0073aa;
    color: #fff;
    border: 1px solid #A5A5A5;
    margin-bottom: 10px;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px #fefefe, 0px 0px 3px 3px #d2d2d2;
    margin-left: 1em;
  }
}